---
layout: default
title: Home
---

<div class="posts">

{% for post in paginator.posts %}

{% unless post.categories contains 'briefly' %}
{% unless post.categories contains 'photos' %}

  <article class="post">
    <h2 class="post-title">
      {% if post.external-url %}
      <div class="linkedlist">
        <div class="linkedlist-title">
        <a href="{{ post.external-url }}">{{ post.title }}</a>&nbsp;<a class="permalink" href="{{ site.baseurl }}{{ post.url }}">&#x2618;&#xFE0E</a>
        </div>
      </div>
      {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }} 
      </a>
      {% endif %}
    </h2>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
    
  </article>

{% endunless %}
{% endunless %}

{% endfor %}

</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <!--<span>Older</span>-->
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <!--<span>Newer</span>-->
  {% endif %}
</div>
