// Page and post link styling

.page-title,.post-title {color: #ffffff;};

.post-title a {color: #bababa;}

.post-title a:hover {text-decoration: none;color: #ffffff;background: #4C4B7B;}

.page-title,.post-title {margin-top: 0;}

.post-date {display: block;margin-top: -.5rem;margin-bottom: 1rem;color: #9a9a9a;}

.linkedlist a.permalink {color: #4C4B7B;text-decoration: none;}

.linkedlist-title:hover a.permalink {color: #ffffff;}

.linkedlist a.permalink {padding-left: 8px;padding-right: 8px;}

p.separator {text-align: center; font-size: small;}
